body{
    background-color: white;
}

header{
    background-color: #eac4d5;
    padding: 20px 0px 20px 0px;
}

h1{
    font-size: 70px;
    text-align: center;
    justify-content: center;
    margin: none;
}

p{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.carp-project {
    height: 725px;
    background-color: #d6eadf;
    display: flex;
    justify-content: center;
}

.typography-project {
    height: 1000px;
    background-color: #b8e0d2;
    display: flex;
    justify-content: center;
}

.coding-worksheets {
    height: 800px;
    background-color: #95b8d1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coding-worksheets img{
    max-width: 100%;
    height: auto;
    width: auto;
    margin-right: 20px;
}

.coding-worksheets h2{
    margin-top: 100px;
}

.coding-worksheets h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style:inset;
    background-color: #add8e6;
    text-align: center;
    justify-content: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

.reflective-essay {
    height:725px;
    background-color: #809bce;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    border-radius: 8px;
    color: black;
    text-align: center;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 15px 32px;
    margin: none;
    transition-duration: .4s;
    margin-right: 30px;

}

button:hover {
    background-color: lightblue;
    color:white;
}

button:active {
    background-color: lightgoldenrodyellow;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}

.navigation{
    display: flex;
    justify-content: center;
}

.typography-project img {
    width: 200px; 
    height: auto;     
    display: block;   
    margin: 0 auto;    
}

.axial {
    display: column;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    position: relative;
    right: 700px;
    top: 125px;
    width: 200px;
    height: 400px;
}

.axial p{
    font-size: 0.7em;
}

.bilateral {
    display: column;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    position: relative;
    right: 700px;
    top: 150px;
    width: 200px;
    height: 400px;
}

.bilateral p{
    font-size: 0.7em;
}

.dilational {
    display: column;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    position: relative;
    right: 700px;
    top: 150px;
    width: 200px;
    height: 400px;
}

.dilational p{
    font-size: 0.7em;
}

.grid {
    display: column;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    position: relative;
    right: 700px;
    top: 150px;
    width: 200px;
    height: 400px;
}

.grid p{
    font-size: 0.7em;
}

.modular {
    display: column;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    position: relative;
    right: 700px;
    top: 150px;
    width: 200px;
    height: 400px;
}

.modular p{
    font-size: 0.7em;
}

.radial {
    display: column;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    position: relative;
    right: 700px;
    top: 150px;
    width: 200px;
    height: 400px;
}

.radial p{
    font-size: 0.7em;
}

.random {
    display: column;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    position: relative;
    right: 700px;
    top: 150px;
    width: 200px;
    height: 400px;
}

.random p{
    font-size: 0.7em;
}

.transitional {
    display: column;
    justify-content: center;
    border-style: dashed;
    border-color: black;
    position: relative;
    right: 700px;
    top: 150px;
    width: 200px;
    height: 400px;
}

.transitional p{
    font-size: 0.7em;
}